{% extends 'base.html' %}
{% block content %}
    <!-- Start the image for order -->
    <div class="image_order text-uppercase text-center">
        <img src="../static/image/40.jpeg" class="img-fluid" alt="Responsive image">
        <div class="child">
            <h2>order online</h2>
        </div>
    </div>
    <!-- End the image for order -->
    <!-- Start the shop items -->
    <div class="order_items">
        <div class="container">
            <div class="card-deck">
                <div class="row">
                    <div class="card col-sm-12">
                        <h3 class="shop_title text-capitalize text-center">avocado and shrimps</h3>
                        <img src="../static/image/11.jpeg" class="card-img-top" alt="not found">
                        <div class="card-body">
                            <h5 class="card-title">75 Dhs</h5>
                            <button class="btn btn-primary"type="button">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="card col-sm-12">
                        <h3 class="shop_title text-capitalize text-center">sardine rillettes</h3>
                        <img src="../static/image/12.jpg"  class="card-img-top" alt="not found">
                        <div class="card-body">
                            <h5 class="card-title"> 45 Dhs</h5>
                            <button class="btn btn-primary"type="button">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="card col-sm-12">
                        <h3 class="shop_title text-capitalize text-center">king salad</h3>
                        <img src="../static/image/15.jpg" class="card-img-top" alt="not found">
                        <div class="card-body">
                            <h5 class="card-title">95 Dhs</h5>
                            <button class="btn btn-primary"type="button">ADD TO CART</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card col-sm-12">
                        <h3 class="shop_title text-capitalize text-center">serrano ham platter</h3>
                        <img src="../static/image/16.jpeg" class="card-img-top" alt="not found">
                        <div class="card-body">
                            <h5 class="card-title">85 Dhs</h5>
                            <button class="btn btn-primary"type="button">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="card col-sm-12">
                        <h3 class="shop_title text-capitalize text-center">marinated salmon</h3>
                        <img src="../static/image/14.jpg" class="card-img-top" alt="not found">
                        <div class="card-body">
                            <h5 class="card-title">110 Dhs</h5>
                            <button class="btn btn-primary"type="button">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="card col-sm-12">
                        <h3 class="shop_title text-capitalize text-center">grilled rib steak</h3>
                        <img src="../static/image/17.jpeg" class="card-img-top" alt="not found">
                        <div class="card-body">
                            <h5 class="card-title">165 Dhs</h5>
                            <button class="btn btn-primary"type="button">ADD TO CART</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card col-sm-12">
                        <h3 class="shop_title text-capitalize text-center">Chicken Tajine</h3>
                        <img src="../static/image/18.jpg" class="card-img-top" alt="not found">
                        <div class="card-body">
                            <h5 class="card-title">125 Dhs</h5>
                            <button class="btn btn-primary"type="button">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="card col-sm-12">
                        <h3 class="shop_title text-capitalize text-center">Duck Breast</h3>
                        <img src="../static/image/19.jpeg" class="card-img-top" alt="not found">
                        <div class="card-body">
                            <h5 class="card-title">170 Dhs</h5>
                            <button class="btn btn-primary"type="button">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="card col-sm-12">
                        <h3 class="shop_title text-capitalize text-center">calf's liver </h3>
                        <img src="../static/image/20.jpg" class="card-img-top" alt="not found">
                        <div class="card-body">
                            <h5 class="card-title">165 Dhs</h5>
                            <button class="btn btn-primary"type="button">ADD TO CART</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card col-sm-12">
                        <h3 class="shop_title text-capitalize text-center">Chiken Cordon Bleu</h3>
                        <img src="../static/image/22.jpg" class="card-img-top" alt="not found">
                        <div class="card-body">
                            <h5 class="card-title">110 Dhs</h5>
                            <button class="btn btn-primary"type="button">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="card col-sm-12">
                        <h3 class="shop_title text-capitalize text-center">tart of the day </h3>
                        <img src="../static/image/23.jpg" class="card-img-top" alt="not found">
                        <div class="card-body">
                            <h5 class="card-title">55 Dhs</h5>
                            <button class="btn btn-primary"type="button">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="card col-sm-12">
                        <h3 class="shop_title text-capitalize text-center">rice pudding</h3>
                        <img src="../static/image/24.jpg" class="card-img-top" alt="not found">
                        <div class="card-body">
                            <h5 class="card-title">45 Dhs</h5>
                            <button class="btn btn-primary"type="button">ADD TO CART</button>
                        </div>
                    </div>
                </div>
                <div class="row drink_item">
                    <div class="card col-sm-12">
                        <h3 class="shop_title text-capitalize text-center">coca-cola</h3>
                        <img src="../static/image/29.jpg" class="card-img-top" alt="not found">
                        <div class="card-body">
                            <h5 class="card-title">10 Dhs</h5>
                            <button class="btn btn-primary"type="button">ADD TO CART</button>
                        </div>
                    </div>
                     <div class="card col-sm-12">
                        <h3 class="shop_title text-capitalize text-center">fanta</h3>
                        <img src="../static/image/33.jpg" class="card-img-top" alt="not found">
                        <div class="card-body">
                            <h5 class="card-title">10 Dhs</h5>
                            <button class="btn btn-primary"type="button">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="card col-sm-12">
                        <h3 class="shop_title text-capitalize text-center">coca zero</h3>
                        <img src="../static/image/30.jpg" class="card-img-top" alt="not found">
                        <div class="card-body">
                            <h5 class="card-title">10 Dhs</h5>
                            <button class="btn btn-primary"type="button">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="card col-sm-12">
                        <h3 class="shop_title text-capitalize text-center">sprite</h3>
                        <img src="../static/image/32.jpg" class="card-img-top" alt="not found">
                        <div class="card-body">
                            <h5 class="card-title">10 Dhs</h5>
                            <button class="btn btn-primary"type="button">ADD TO CART</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End the shop items -->
    <!-- Start the cart -->
    <div class="order_cart col-sm-12">
        <div class="container">
            <h3 class="text-capitalize text-center">cart</h3>
            <div class="row cart_row text-center text-uppercase">
                <div class="col-lg">
                    Item
                </div>
                <div class="col-lg">
                    Price   
                </div>
                <div class="col-lg">
                    Quantity
                </div>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart_total">
                <strong> Total</strong>
                <span class="cart-total-price">0 Dhs</span>
            </div>
            <button class="btn-purchase">purchase</button>
        </div>
    </div>
    <!-- End the cart -->
<script src="../static/js/main1.js"></script>
{% endblock %}

