<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>see the home page</title>
    <link rel="stylesheet" href="../static/css/all.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/Style1.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;1,600&display=swap">
</head>
<body>
    <!-- Start the header-->
    <header>
        <div class="row">
            <div class="col-lg-4">
                <div class="part1 d-lg-block"></div>
                <div class="part2 d-lg-block"></div>
            </div>
            <div class="col-lg-8 Child1">
                <div class="part3">
                    <!-- Start the navbar -->
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                              <a class="nav-link active" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="/menu">Menu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/order">Order Online</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/gallery">Gallery</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">Contact</a>
                            </li>
                          </ul>
                        </div>
                      </nav>
                      <!-- Start the navbar -->
                      <div class="offre">
                          <p>
                            Lunch Combo<span> 130 Dhs</span><br>
                            Starter + Main or Main + Dessert<hr>
                            The best of England cuisine at the heart of Agadir
                          </p>
                      </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Ends the header-->
    <!-- Start the about_us -->
    <div class="about_us">
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <h1>restaurant</h1>
                    <h3>about us</h3>
                    <p>
                        <span>The King Food restaurant in Agadir welcomes you to a unique setting in the Center of Town with a menu of England specialties.</span><br> 
                        The King Food is incontestably one of the best restaurants in Agadir, but it is also a friendly restaurant with pleasant background music.
                        In terms of cuisine, we favor a contemporary concept with huge starters for quick meals and a menu which proposes appetizers, main dishes and desserts for an average price of 150 dhs per person, as well as a lunch combo: starter/main course or main course/dessert for 125 dhs.
                    </p>
                </div>
                <div class="col-lg about_us_child">
                    <img src="../static/image/04.jpeg" class="img-fluid" alt="Responsive image">
                </div>
            </div>
        </div>
    </div>
    <!-- End The about_us -->
    <!-- Start the Delivery -->
    <div class="delivery">
        <div class="container">
            <h1>delivery</h1>
            <h3>our customers love</h3>
            <div class="row">
                <div class="col-lg-3">
                    <div class="our_customers_love">
                        <div class="overlay"></div>
                            <img src="../static/image/05.jpeg" alt="..." class="img-thumbnail">
                            <h4>Starters</h4>
                    </div>
                    <div class="text-center information">                      
                        <h5>Avocado and Shrimps</h5>
                        <h6>75 DHS</h6>
                        <button>Order <i class="fas fa-shopping-cart"></i></button>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="our_customers_love">
                        <div class="overlay"></div>
                        <img src="../static/image/06.jpeg" alt="..." class="img-thumbnail">
                        <h4>Main Course</h4>
                    </div>
                    <div class="text-center information">                       
                        <h5>Chiken Cordon Bleu</h5>
                        <h6>110 DHS</h6>
                        <button>Order <i class="fas fa-shopping-cart"></i></button>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="our_customers_love">
                        <div class="overlay"></div>
                        <img src="../static/image/07.jpeg" alt="..." class="img-thumbnail">
                        <h4>Main Course</h4>
                    </div>
                    <div class="text-center information">
                        <h5>Grilled Norwegian Salmon</h5>
                        <h6>145 DHS</h6>
                        <button>Order <i class="fas fa-shopping-cart"></i></button>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="our_customers_love">
                        <div class="overlay"></div>
                        <img src="../static/image/08.jpeg" alt="..." class="img-thumbnail">
                        <h4>Desserts</h4>
                    </div>
                    <div class="text-center information">
                        <h5>Ile Flottante</h5>
                        <h6>45 DHS</h6>
                        <button>Order <i class="fas fa-shopping-cart"></i></button>
                    </div>    
                </div>
            </div>
        </div>
    </div>
    <!-- End the Delivery -->
    <!-- Start the opinion -->
    <div class="opinion">
        <div class="container">
            <div class="child-1">
                <img src="../static/image/09.jpeg" class="img-fluid" alt="Responsive image">
                <h3>we value your <br> opinion!</h3>
            </div>
        </div>
    </div>
    <!-- End the opinion -->
    <!-- Start the newsletter -->
    <div class="news_letter">
        <div class="container">
                <h5>Subscribe to the Newsletter</h5>
                <input type="text" placeholder="email@example.com">
                <button id="news_btn">subscribe</button>
        </div>
    </div>
    <!-- End the newsletter -->
    <!-- Start the footer -->
    <footer>
        <div class="container">
            <div class="row footer_Child">
                <div class="col-lg-4">
                    <h5 class="text-uppercase">king food restaurant</h5>
                    <p>
                        2 Front de Mer Secteur Touristique، Agadir 80000
                        Horaires : 
                        Open ⋅ Closes at 02:00                   
                    </p>
                </div>
                <div class="col-lg-4">
                    <h5 class="text-uppercase">reservation :</h5>
                    <p>+212 (0) 5 28 73 72 11</p>
                    <h5 class="text-uppercase">delivery or to go:</h5>
                    <p>+212 (0) 5 28 75 22 35</p>
                </div>
                <div class="col-lg-4">
                    <h5 class="text-uppercase">time table :</h5>
                    <p>12 PM - 12 AM</p>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-whatsapp"></i>
                </div>
            </div>
            <div class="copy_right">
                <p> &copy; A.Cheikh &amp; A.Naji <span>2020</span></p> 
              </div>
        </div>   
    </footer>
    <!-- End the footer -->
<script src="../static/js/jquery-3.4.1.js"></script>
<script src="../static/js/popper.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/all.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="../static/js/home.js"></script>
</body>
</html>